div {
  width: 300px;
  height: 300px;
  background: green;
  border: 2px solid black;
  transition: all 300ms ease;
  color: transparent;
  margin-top: 200px;
  display: inline-block;
  font-family: sans-serif;
}
#rotate:hover {
  /* rotate(degree) */
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  color: white;
}
#translate:hover {
  /* translate(x, y) */
  -webkit-transform: translate(50px, 30px);
  -moz-transform: translate(50px, 30px);
  -o-transform: translate(50px, 30px);
  color: white;
}
#scale:hover {
  /* scale(real number) */
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  color: white;
}
#skew:hover {
  /* skew */
  -webkit-transform: skew(-30deg, 10deg);
  -moz-transform: skew(-30deg, 10deg);
  -o-transform: skew(-30deg, 10deg);
  color: white;
}
#matrix:hover {
  /* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
  -webkit-transform: matrix(2, .30, .30, 2, 100, 100);
  -moz-transform: matrix(2, .30, .30, 2, 100, 100);
  -o-transform: matrix(2, .30, .30, 2, 100, 100);
  color: white;
}
